body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  color: #0a0a0a;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.carousel__viewport {
  overflow: hidden;
}

.carousel__container {
  display: flex;
}

.carousel__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.carousel-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-card-header {
  width: 100%;
  margin-bottom: 1rem;
}

.carousel-card-header h3 {
  color: #707070;
}

.carousel-card-header-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carousel-card-header-info p {
  margin: 0;
  font-weight: 700;
}

.carousel-card-header-info span {
  color: #707070;
}

.carousel-card-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 16 / 12;
}

.carousel-card-links {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.carousel-controls {
  display: none;
}

@media (min-width: 768px) {
  .carousel__slide {
    flex: 0 0 50%;
  }

  .carousel-card-header-info {
    flex-direction: row;
  }

  .carousel-controls {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 2rem 2rem 0 0;
  }

  .carousel-controls button {
    position: relative;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .carousel__slide {
    flex: 0 0 25%;
  }
}
